.ui-selectmenu.ui-popup .ui-input-search {
    margin-left: .5em;
    margin-right: .5em;
}
.ui-selectmenu.ui-dialog .ui-content {
    padding-top: 0;
}
.ui-selectmenu.ui-dialog .ui-selectmenu-list {
    margin-top: 0;
}
.ui-selectmenu.ui-popup .ui-selectmenu-list li.ui-first-child .ui-btn {
    border-top-width: 1px;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-selectmenu.ui-dialog .ui-header {
    border-bottom-width: 1px;
}



	.submit_button {
		
		text-align:right;

		}

	.resp_br {
		
		display:block;

		}

        @media only screen and (min-width: 600px){

	.container-small {
		
		width: 450px !important;
                margin: 0 auto !important;
                position: relative !important;
		font-size: 0.8em;

		}


        }

        @media only screen and (min-width: 30em){

	.resp_br {
		
		display:none;

		}
	}
