
	.submit_button {
		
		text-align:right;

		}
@media all and (min-width: 20em){
.sidebar { display: none !important; } 
.menu-button { display: block !important; }
.main {  }
}

@media all and (min-width: 60em){

.sidebar { display: block !important; border:0; width:20%; float:left !important;} 
.menu-button { display: none !important ;}
.main { width:80% !important; float:right !important;}


}
