	.submit_button {
		
		text-align:right;

		}

        @media only screen and (min-width: 600px){

	.container-small {
		
		width: 450px !important;
                margin: 0 auto !important;
                position: relative !important;
		font-size: 0.8em;

		}



        }



